<div class="container col-12 col-md-4 col-lg-3">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button [routerLink]="['/información-elemento']" routerLinkActive="router-link-active"
                class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Información</button>
        </li>
        <li class="nav-item" role="presentation">
            <button [routerLink]="['/análisis-grafico']" routerLinkActive="router-link-active" class="nav-link"
                id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                aria-controls="profile" aria-selected="false">Grafico</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Información

            <div style="height: 70vh; overflow-y: auto;" *ngIf="datosRecibidos">
                <h6>Propiedades de la Luminaria Seleccionada: </h6>
                <div> ID punto Luminaria en el geojson:
                    <strong #sessionDuration> </strong>
                </div>
                <div class="d-flex">
                    Id Luminaria:
                    <span #sessionIDLuminaria> </span>
                </div>
                <div class="d-flex">
                    Observaciones:
                    <p #Observaciones> </p>
                </div>
                <div class="d-flex">
                    Altura:
                    <p #Altura> </p>
                </div>
                <div class="d-flex">
                    Cantidad Lámparas:
                    <p #CantidadLampara> </p>
                </div>
                <div class="d-flex">
                    Distancia eje:
                    <p #DistanciaEje> </p>
                </div>
                <div class="d-flex">
                    Equipo Auxiliar:
                    <p #EquipoAuxiliar> </p>
                </div>
                <div class="d-flex">
                    Estado lámpara:
                    <p #EstadoLampara> </p>
                </div>
                <div class="d-flex">
                    Estado luminaria:
                    <p #EstadoLuminaria> </p>
                </div>
                <div class="d-flex">
                    Estado soporte:
                    <p #EstadoSoporte> </p>
                </div>
                <div class="d-flex">
                    Lado vía:
                    <p #LadoVia> </p>
                </div>
                <div class="d-flex">
                    Tipo soporte:
                    <p #TipoSoporte> </p>
                </div>
                <div class="d-flex">
                    Tipo Luminaria:
                    <p #TipoLuminaria> </p>
                </div>
                <div class="d-flex">
                    Tipo lampara:
                    <p #TipoLampara> </p>
                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Visualizar Grafico
            <p class="fw-bold">No. total de las luminarias: <span #CantidadLuminarias> </span> </p>
            <div #charts id="test">Grafico
            </div>

        </div>
    </div>





</div>