.map-container{
    overflow: hidden !important;
    width: 100%;
    height: 100%;
}

.alturaMapa {
    height: 100%;
}

/* contempla xs y sm */
@media only screen and (max-width: 767px) {
    .map-container {
        overflow: auto !important;
        height: 55%;
        width: 100%;
    }
}